header, h1{ padding: 1em;
color: orangered ;}

html{
  background-color: lightgray;
}

img{
  border-radius: 50%;
  list-style-type: none;
  height: 10rem;
  width: auto;
  box-shadow: 0.4em 0.4em grey;
}

main p{
  background-color: gainsboro;
  color: orangered
}

main li{
  list-style-type: none;
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
  box-shadow: 0.4em 0.4em;
}

footer{
  border: thin solid black;
  color: orangered
}
